numpy==2.4.2
pandas==2.3.3
scikit-learn==1.8.0
scipy==1.15.2
statsmodels==0.14.4

xgboost==3.2.0
lightgbm==4.6.0
optuna==4.7.0
imbalanced-learn==0.14.1
mlflow>=3.10.0

shap==0.50.0
lime==0.2.0.1

matplotlib==3.10.8
seaborn==0.13.2
plotly==6.5.2
sweetviz==2.3.1

streamlit==1.54.0
streamlit-aggrid>=1.0.0
reportlab==4.4.10
openpyxl==3.1.5

joblib==1.5.3
pytest>=9.0.0
